<div class="card" style="align-items: center">
  <div class="card-body" style="width: 50%">
    <div style="height: 60%; margin: auto">
      <section id="cover" class="min-vh-100">
        <div id="cover-caption">
          <div class="container">
            <div style="text-align: center">
              <div style="padding: 20px"></div>
              <div class="px-2">
                <form action="" class="justify-content-center">
                  <div class="form-group">
                    <input
                      style="text-align: center"
                      type="text"
                      class="form-control"
                      placeholder="UserName"
                    />
                  </div>

                  <div style="padding: 10px"></div>
                  <div class="form-group">
                    <input
                      style="text-align: center"
                      type="email"
                      class="form-control"
                      placeholder="Email"
                    />
                  </div>

                  <div style="padding: 10px"></div>
                  <div class="form-group">
                    <input
                      style="text-align: center"
                      type="password"
                      class="form-control"
                      placeholder="Password"
                    />
                  </div>

                  <div style="padding: 10px"></div>
                  <div class="form-group">
                    <input
                      style="text-align: center"
                      type="password"
                      class="form-control"
                      placeholder="Confirm Password"
                    />
                  </div>

                  <div style="padding: 10px"></div>
                  <div class="form-group"></div>
                  <div>
                    <button
                      style="background-color: #214e8f; color: white"
                      type="submit"
                      class="btn btn-primary"
                      routerLink="/signup"
                    >
                      SignUp
                    </button>

                    <div style="padding: 10px"></div>
                    <p>Already a member? <a routerLink="/login">Login</a></p>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
